@import "src/assets/scss/helper-class.scss";
.input-text-component {
    display: flex;
    flex: 1 0 100%;
    width: 100%;
    position: relative;
    padding-bottom: 1rem;
    .input-text {
        //Prefix
        &__label {
            @include absolute($t:1rem, $l: .5rem);
            display: flex;
            width: 100%;
            font-size: .9rem;
            text-transform: uppercase;
            pointer-events: none;
            color: colors-app(gray, 'medium');
            transform: translate3d(0, 0, 0);
            transition: all 0.3s ease-in-out;
            &:after {
                content: ":";
            }
        }
        &__validation {
            @include absolute($b:0, $l:.5rem);
            display: flex;
            width: 100%;
            font-size: .75rem;
            color: colors-app(fuchsia) !important;
        }
    }
    input[type="text"] {
        @include size($w:100%, $h:1rem);
        display: flex;
        padding: 1.5rem .5rem .25rem .5rem;
        border: 0;
        border-bottom: 1px solid colors-app(gray);
        background: transparent;
        transition: all 0.3s ease-in-out;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            transition: none;
        }
        &:focus {
            border-bottom: 1px solid colors-app(blue, 'deep');
        }
        &[data-empty="false"]+label,
        &:valid+label,
        &:focus+label {
            font-size: .75rem;
            color: colors-app(blue, 'deep');
            transform: translate3d(0, -10px, 0);
        }
        // State
        &:disabled {
            border-bottom: 1px solid colors-app(gray, 'medium');
        }
        &:disabled+label {
            font-size: .75rem;
            color: colors-app(gray, 'medium');
            transform: translate3d(0, -10px, 0);
        }
    }
    &.error {
        >input {
            border-bottom: 1px solid colors-app(fuchsia) !important;
        }
        >label {
            color: colors-app(fuchsia) !important;
        }
    }
    &.txt-center {
        >input {
            text-align: center;
        }
        >label {
            justify-content: center;
        }
    }
}
