//---------------
//## Typography vars
//---------------

// $$ Font Vars
$opensans:  'open Sans', sans-serif;
$Quicksand: 'Quicksand', sans-serif;
$icon:      'Material Icons';

// $$ Font Family
$font-family-app:       $opensans;
$font-family-secondary: $Quicksand;
$font-family-heading:   $Quicksand;

// $$ Font weight
$light:  200;
$normal: 400;
$bold:   600;
$bolder: 700;
