<!-- Copyright 2017 20** Santillana SA -->
<span class="input-password-component {{input.invalid && (input.dirty || input.touched) ? 'error' : ''}}">
  <label for="inputPassword"></label>
  <input id="inputPassword" type="password" [(ngModel)]="valueInput" #input="ngModel"
  	(ngModelChange)="update($event)" autocomplete="off" required>
	  <label class="input-password__label">{{name}}</label>
	  <span *ngIf="input.invalid && (input.dirty || input.touched)" class="input-password__validation error">
      <span *ngIf="input.errors.required">
        Requerido
      </span>
</span>
</span>
